html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  font-size: 12px;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
header {
  background-color: #ffffff;
  width: 100%;
  top: 0px;
  padding: 10px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
header .search {
  width: 90%;
  height: 40px;
  background-color: #ffffff;
  padding: 30px 10px 10px 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
          flex-direction: row;
}
header .search .text {
  border: 1px solid #b4b4b4;
  border-radius: 8px 0px 0px 8px;
  border-right: none;
  background-color: #f4f4f4;
  font-weight: bolder;
  font-size: 12px;
  color: #8b8b8b;
  width: 100%;
  height: 40px;
  background-position: 195px;
}
header .search .btn {
  border: 1px solid #b4b4b4;
  border-radius: 0px 8px 8px 0px;
  margin-right: -2px;
  border-left: none;
  width: 36;
  height: 40;
  background: url(../images/search-btn.png) no-repeat;
  background-size: 20px 20px;
  background-color: #f4f4f4;
  background-position: center;
  background-position-x: 7px;
}
.middle {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
          flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
          flex-direction: row;
}
.kind-list {
  background-color: #f8f8f8;
  width: 40%;
}
.kind-list .kind-item {
  line-height: 60px;
  margin: 22.5px;
  color: #424242;
  font-size: 15px;
}
.products-list {
  width: 100%;
  overflow-y: auto;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 64px;
  border-top: 1px solid #f0f0f0;
}
.lsit-item {
  width: 80%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
          flex-direction: row;
  border-bottom: 1px solid #f0f0f0;
}
.price {
  font-size: 12px;
  font-weight: bold;
  color: #fe6161;
}
.sold {
  color: #a0a0a0;
}
.goods-img {
  width: 114px;
  height: 114px;
  background-image: url(../images/goods.jpg);
  background-size: 114px 114px;
}
.goods-info {
  height: 99px;
  padding-top: 8;
  font-weight: bold;
  color: #414141;
}
.goods-info div {
  padding-top: 18;
  line-height: 10px;
}
.goods-info .cartpic {
  margin-top: -40px;
  margin-left: 130px;
}
footer {
  background-color: blueviolet;
  height: 49px;
  width: 100%;
  bottom: 0px;
  border-top: 1px solid #f0f0f0;
  padding-bottom: 6px;
  padding-top: 9px;
}
.menu {
  height: 49px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
          justify-content: space-around;
  font-size: 12px;
  color: #525252;
  font-weight: bold;
}
.face {
  height: 21px;
  width: 21px;
  margin-top: 15px;
  background-image: url(../images/home-active.png);
  background-repeat: repeat-x;
  background-size: 21px 21px;
  background-color: #ffffff;
}
.classify {
  height: 21px;
  width: 21px;
  margin-top: 15px;
  background-image: url(../images/category.png);
  background-repeat: repeat-x;
  background-size: 21px 21px;
  background-color: #ffffff;
}
.cart {
  height: 21px;
  width: 21px;
  margin-top: 15px;
  background-image: url(../images/cart.png);
  background-repeat: repeat-x;
  background-size: 21px 21px;
  background-color: #ffffff;
}
.user {
  height: 21px;
  width: 21px;
  margin-top: 15px;
  background-image: url(../images/user.png);
  background-repeat: repeat-x;
  background-size: 21px 21px;
  background-color: #ffffff;
}
