* {
  box-sizing: border-box;
}
footer {
  background-color: blueviolet;
  height: 49px;
  width: 100%;
  bottom: 0;
  padding-bottom: 6px;
  padding-top: 9px;
}
.menu {
  height: 49px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
          justify-content: space-around;
  font-size: 12px;
  color: #525252;
  font-weight: bold;
}
.face {
  height: 21px;
  width: 21px;
  margin-top: 15px;
  background-image: url(../images/home-active.png);
  background-repeat: repeat-x;
  background-size: 21px 21px;
  background-color: #ffffff;
}
.classify {
  height: 21px;
  width: 21px;
  margin-top: 15px;
  background-image: url(../images/category.png);
  background-repeat: repeat-x;
  background-size: 21px 21px;
  background-color: #ffffff;
}
.cart {
  height: 21px;
  width: 21px;
  margin-top: 15px;
  background-image: url(../images/cart.png);
  background-repeat: repeat-x;
  background-size: 21px 21px;
  background-color: #ffffff;
}
.user {
  height: 21px;
  width: 21px;
  margin-top: 15px;
  background-image: url(../images/user.png);
  background-repeat: repeat-x;
  background-size: 21px 21px;
  background-color: #ffffff;
}
